body {
    background-color: #c7c7c7;
    font-family: sans-serif;
    margin: 0px;
}

header {
    background-color: #f09b13;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: black;
}

header img {
    height: 200px;
}

nav a {
    color: black;
    background-color: #ffc973;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
}

main {
    padding: 0 10%;
}

section {
    padding: 20px 10px;
    margin: 10px;
    border: 1px dashed #5c3900;
    border-radius: 50px;
}

section img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #f79a05;
    text-align: center;
    padding: 10px;
}

footer img {
    width: 30px;
}
